/*1. General styling*/
:root {
	--colro-darkblue: #021b79;
	--color-midnightblue: #2980b9;
	--color-brightnavyblue: #6dd5fa;
	--color-safetyorange: #f17105;
	--color-darkerorange: #c85c04;
	--color-blackchocolate: #1f1300;
	--color-cultured: #f0edee;
	--color-lightgrey: #e5e5e5;

	--color-inholland: #dc037c;
	--color-albertheijn: #00a0df;
    --color-soliedeBlue: #009fe3;
    --color-soliedePaars: #601f63;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
	text-decoration: none;
}

html {
	box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
	font-family: 'Poppins', 'sans-serif';
	font-weight: 250;
	color: #444;
	background: var(--color-cultured);
	line-height: 1.9;
    scroll-behavior: smooth;
}

section {
	padding-left: 0.8rem;
	padding-right: 0.8rem;
}

button {
	all: unset; /* Remove all original button styles*/
}

a {
	text-decoration: none;
}

/*1.1 Specific styles*/
.highlightedText {
	color: var(--color-safetyorange);
	font-weight: bold;
}

.inhollandPink {
	color: var(--color-inholland);
}

.albertHeijnBlue {
	color: var(--color-albertheijn);
}

.soliedeBlue {
    color: var(--color-soliedeBlue);
}

.soliedePurple{
    color: var(--color-soliedePaars);
}

.tripleRed {
    color: #ff4f68;
}

.lazy_img {
	filter: blur(10px);
}

#backToTop_btn {
	display: none;
	position: fixed;
	z-index: 99;
	bottom: 20px;
	right: 30px;
	background-color: var(--color-safetyorange);
	border-radius: 60%;
	cursor: pointer;
	color: white;
	text-align: center;
	line-height: 0;
	font-size: bold;
	width: 35px;
	scroll-behavior: smooth;
}
#backToTop_btn:hover {
	background-color: var(--color-midnightblue);
	transition: 0.7s;
}

/* 2. Nav styling*/
.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 7rem;
	width: 100%;
	padding: 0 3rem;
	z-index: 100;
	color: white;
	transition: 0.3s;
}

.sticky {
	position: fixed;
	transition: 0.3s;
	background-color: white;
	color: black;
	height: 5rem;
}

.sticky .nav_link {
	color: black;
}

.nav_logo {
	display: flex;
	justify-content: center;
	align-items: center;
	font-weight: 500;
}

#nav_logoImg {
	width: 30px;
}

#nav_logoName {
	font-size: 1.2rem;
	font-weight: bold;
}

#nav_menuBtn {
	display: none;
}

.nav_links {
	display: flex;
	align-items: center;
	list-style: none;
	justify-content: space-between;
	gap: 3rem;
	font-weight: bold;
}

.nav_link {
	text-decoration: none;
	display: block;
	font-size: 1.2rem;
	color: white;
	transition: 0.3s ease;
}

.nav_link:hover {
	color: var(--color-safetyorange);
	transition: 0.3s ease;
}

/*3. Header styling*/
.header {
	background: #0575e6; /* fallback for old browsers */
	background: -webkit-linear-gradient(to bottom, #021b79, #0575e6); /* Chrome 10-25, Safari 5.1-6 */
	background: linear-gradient(to bottom, #021b79, #0575e6); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
	min-height: 500px;
	display: flex;
	flex-direction: column;
}

#intro {
	margin-top: auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	position: relative;
	width: 100%;
	gap: 1rem;
}

/*3.1 - Left side of intro section*/
#intro_img {
	max-width: 350px;
	height: 350px;
	display: block;
}

/*3.2 - Right side of intro section*/
#intro_right {
	display: flex;
	flex-direction: column;
}

#intro_header {
	font-size: 44px;
	color: white;
	line-height: 1.2;
}

#intro_subheader {
	color: white;
	font-weight: 100;
	font-size: 16px;
	line-height: 1;
}

.intro_information {
	padding-top: 1rem;
	padding-left: 0;
	max-width: 450px;

	line-height: 1.2;
	font-size: 14px;
	color: white;
}

#intro_buttons {
	display: flex;
	gap: 1rem;
	margin-top: auto;
	margin-bottom: 1rem;
}

.intro_btn {
	padding: 0.6rem 2.5rem;
	color: white;
	font-weight: bold;
	font-size: 20px;

	border-width: 2px;
	border-radius: 5px;
	border-style: solid;
	border-color: var(--color-safetyorange);
}

#first_introBtn {
	background: var(--color-safetyorange);
	transition: background 0.4s;
}

#first_introBtn:hover {
	background: 0;
}

#second_introBtn {
	background: 0;
	transition: background 0.4s;
}

#second_introBtn:hover {
	background: var(--color-safetyorange);
}

/*4. Section styling */
.section {
	min-height: 40rem;
	width: 100%;
	display: flex;
}

.section_hidden {
	opacity: 0;
	transform: translateY(8rem);
}

.section_divider{
    margin-top: -15px;
    margin-bottom: -15px;
}

.section_slideUp {
	transition: 1s;
}

.section_inner {
	margin-left: auto;
	margin-right: auto;
	max-width: 1040px;
	display: flex;
	flex-direction: column;
	height: 100%;
	width: 100%;
}

.section_header {
	padding-top: 7rem;
	display: flex;
	flex-direction: column;
}

.section_header_lessPad{
    padding-top: 1rem;
}

.section_content {
	padding-bottom: 3rem;
}

.section_project {
	display: grid;
	gap: 2.4rem;
	grid-template-areas: 'First Second';
	grid-template-columns: 1fr 1fr;
}

.section_projectDetails {
	display: flex;
	flex-direction: column;
}

/*4.1 Portfolio Section*/
#portfolio_row {
	background-color: var(--color-cultured);
}

.section_subtitle {
	font-size: 1.2rem;
	line-height: 1;
}

.title_orange {
	color: var(--color-safetyorange);
}

.title_white {
	color: white;
}

.section_title {
	font-size: 1.5rem;
}

.section_project_button {
	background-color: var(--color-safetyorange);
	border-radius: 5px;
	margin-top: auto;
	padding: 0.3rem 0.5rem 0.3rem 0.5rem;
	max-width: fit-content;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
	display: flex;
	gap: 0.3rem;
}

.section_project_button {
	transition: background 0.4s;
}

.section_project_button:hover {
	background-color: var(--color-darkerorange);
	transition: 0.4s;
}

.section_project_button_icon {
	width: 30px;
}

/*4.1.1 Slider component*/
.slider {
	margin: 0 auto;
	position: relative;
	margin-right: 1rem;
	overflow: hidden;
}

.slides {
	display: flex;
	transition: 1s;
}

.slide {
	display: flex;
	flex: 0 0 100%;
	transition: transform 1s;
	/* background-color: lightblue; */
	padding: 1rem;
}

.slide_image {
	width: 300px;
	object-fit: contain;
}

.slider_controls {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	font-weight: bold;
	margin-bottom: 1rem;
}

.slider_btn {
	border-radius: 5px;
	background-color: var(--color-safetyorange);
	width: 2rem;
	height: 2rem;

	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.slider_btnLeft {
	background-color: var(--colro-darkblue);
}

.slider_btnRight {
	background-color: var(--colro-darkblue);
}

/*4.2 Werkervaring Section*/
#werkervaring_row {
	background-color: var(--colro-darkblue);
}

.timeline {
	position: relative;
	max-width: 1200px;
    margin: auto;
    margin-top: 50px;
}

.timeline::after {
	content: '';
	position: absolute;
	width: 6px;
	height: 100%;
	background-color: #fff;
	top: 0;
	left: 50%;
	margin-left: -3px;
	/* z-index: -1; */
}

.timeline_container {
	padding: 10px 50px;
	position: relative;
	width: 50%;
	/* background-color: rgba(0, 0, 0, 0.3); */
}

.timeline_textbox {
	padding: 20px 30px;
	background: #fff;
	position: relative;
	border-radius: 6px;
	font-size: 15px;
}

.timeline_leftContainer {
	left: 0;
}

.timeline_rightContainer {
	left: 50%;
}

.timeline_container img {
	background-color: white;
	border-radius: 50%;
	padding: 5px;
	position: absolute;
	width: 40px;
	border: 50%;
	right: -20px;
	top: 32px;
	z-index: 10;
}

.timeline_rightContainer img {
	left: -20px;
}

.left_container_arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-left: 15px solid #fff;
	right: -15px;
}

.right_container_arrow {
	height: 0;
	width: 0;
	position: absolute;
	top: 28px;
	z-index: 1;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	border-right: 15px solid #fff;
	left: -15px;
}

/*4.3 Skills Section*/

/*4.4 Contact Section*/
.section_form {
	display: flex;
	flex-direction: column;
}
.section_form label {
	font-weight: bold;
}

.section_form input {
	padding: 0.4rem 0.8rem;
	outline-width: 1px;
	outline-style: solid;
	outline-color: var(--color-lightgrey);
	border: none;
	margin-bottom: 10px;
	border-radius: 2px;
}

.section_form input:focus {
	padding: 0.4rem 0.8rem;
	outline: 1px;
	outline-color: var(--color-safetyorange);
	outline-style: solid;
}

.section_form_required {
	color: red;
}

.section_form_button {
	background-color: var(--color-safetyorange);
	border-radius: 2px;
	margin-top: 10px;

	text-align: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	cursor: pointer;
}

.section_form_button {
	transition: background 0.4s;
}

.section_form_button:hover {
	background-color: var(--color-darkerorange);
	transition: 0.4s;
}

.section_form_textarea {
	padding: 0.4rem 0.8rem;
	border-style: solid;
	border-width: 1px;
	border-color: var(--color-lightgrey);
	border-radius: 2px;
}

.section_form_textarea:focus {
	outline: none;
	border-color: var(--color-safetyorange);
}

/*Footer*/
footer {
	background: #000046;
	color: white;
	padding: 2rem 4rem 2rem 4rem;

	display: flex;
	justify-content: space-between;
	align-items: center;
}

.social_buttons {
	display: flex;
}

.social_btn {
}

#linkedin_btn {
}

#instagram_btn {
}

/* Mobile */
@media only screen and (max-width: 858px) {
    /* Nav styling*/
    .nav_links {
		display: none;
	}

	#nav_menuBtn {
		display: block;
		cursor: pointer;
	}

    /* Intro styling */
    #intro{
        padding-left: 0;
        padding-right: 0;
    }

	.intro_right {
		text-align: center;
	}

	/*Section styling*/
	.section_inner {
		margin-left: 0;
	}
	.section_project {
		display: flex;
		flex-direction: column;
	}

	.section_content {
		padding-bottom: 1rem;
	}

	/* Portfolio styling */
	.slide {
		gap: 0.5rem;
	}

	.slide_image {
		width: 100%;
	}

    /* Timeline styling*/
    .timeline{
        margin: 50px auto;
    }

    .timeline::after{
        left: 31px;
    }

    .timeline_container{
        width: 100%;
        padding-left: 80px;
        padding-right: 25px;
    }

    .timeline_textbox{
        font-size: 13px;
    }

    .timeline_rightContainer{
        left: 0;
    }

    .timeline_leftContainer img, .timeline_rightContainer img {
        left: 10px;
    }

    .left_container_arrow {
        border-right: 15px solid #fff;
        border-left: 0;
        left: -15px;
    }

	/*Footer styling*/
	footer {
		padding: 1.5rem 1rem 1.5rem 1rem;
	}
}
